body{
	background: lightblue;
}
@keyframes circle{
  0%{
  	bottom: -100px;
  }
  100%{
  	bottom: 100%;
  }
}
.ani1{
	width: 50px;
	height: 50px;
	left: 50px;
	bottom: -100px;
	position: fixed;
	border: 1px solid white;
	border-radius: 50%;
	box-shadow: inset 0px 2px 10px 0px white;
	animation: circle 3s 1s infinite linear;
}
.ani1C{
	width: 8px ;
	height: 10px;
	position: absolute;
	background-color: white;
	border-radius: 50%;
	left: 10px;
	top:5px;
	box-shadow: 0px 0px 10px white;
}
.ani2{
	width: 70px;
	height:70px;
	left: 700px;
	bottom: -200px;
	position: fixed;
	border: 1px solid white;
	border-radius: 50%;
box-shadow: inset 0px 2px 10px 0px white;
	animation: circle 4s 1s infinite linear;
}
.ani2C{
  width: 8px ;
	height: 10px;
	position: absolute;
	background-color: white;
	border-radius: 50%;
	left: 12px;
	top:10px;
	box-shadow: 0px 0px 50px white;
}
.ani3{
	width: 30px;
	height: 30px;
	left: 850px;
	position: fixed;
	bottom: -100px;
	border: 1px solid white;
	border-radius: 50%;
	box-shadow: inset 0px 2px 10px 0px white;
	animation: circle 6s 3s infinite linear;
}
.ani3C{
  width: 5px ;
	height: 6px;
	position: absolute;
	background-color: white;
	border-radius: 50%;
	left: 8px;
	top:3px;
	box-shadow: inset 0px 2px 10px 0px white;
}

.ani4{
	width: 30px;
	height: 30px;
	left:250px;
	position: fixed;
	bottom: -100px;
	border: 1px solid white;
	border-radius: 50%;
box-shadow: inset 0px 2px 10px 0px white;
	animation: circle 5s 1s infinite linear;
}
.ani4C{
	width: 5px;
	height: 6px;
	position: absolute;
	background-color: white;
	border-radius: 50%;
	left: 8px;
	top:3px;
	box-shadow: inset 0px 2px 10px 0px white;
}
.ani5{
	width: 50px;
	height: 50px;
	left: 150px;
	position: fixed;
	bottom: -100px;
	border: 1px solid white;
	border-radius: 50%;
	box-shadow: inset 0px 2px 10px 0px white;
	animation: circle 4s 3s infinite linear;
}

.ani5C{
   width: 5px;
	height: 8px;
	position: absolute;
	background-color: white;
	border-radius: 50%;
	left: 10px;
	top:5px;
	box-shadow: 0px 0px 10px wheat;
}
.an6{
	width:45px;
	height: 45px;
	left: 450px;
	position: fixed;
	bottom: 0px;
	border: 1px solid white;
	border-radius: 50%;
box-shadow: inset 0px 2px 10px 0px white;
	animation: circle 3s 4s infinite linear;
}

.an7{
	width: 28px;
	height: 28px;
	left: 600px;
	position: fixed;
	bottom: 0px;
	border: 1px solid white;
	border-radius: 50%;
	box-shadow: 0px 2px 10px 2px white;
	animation: circle 2s 1s infinite linear;
}

.an8{
	width: 65px;
	height: 65px;
	left: 1000px;
	position: fixed;
	bottom: 0px;
	border: 1px solid red;
	border-radius: 50%;
	box-shadow: 0px 2px 10px 2px white;
	animation: circle 4s 0s infinite linear;
}