*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	background-color: #080e24;
}
@keyframes rotate{
	0%{
        transform: rotate(0deg);
	}
   100%{
   	transform: rotate(360deg);
   }
}

.main{
	width: 400px;
	height: 400px;
	margin: 100px auto;
	position: relative;
}

.part1{
	width: 400px;
	height: 400px;
	border: 2px solid #373e55;
	border-radius: 50%;
	position: relative;
	animation: rotate 20s 0s infinite linear;
}
.part1C{
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: gold;
	position: absolute;
	left: 70px;
    top: 35px;
}
.part2{
	width: 340px;
	height: 340px;
	border: 2px solid #373e55;
	border-radius: 50%;
	position: absolute;
    top: 30px;
    left: 30px;
	animation: rotate 15s 1s infinite linear;
}
.part2C{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color:#e0ae6f;
	position: absolute;
	left: 50px;
    top: 35px;
}
.part3{
	width: 280px;
	height: 280px;
	border: 2px solid #373e55;
	border-radius: 50%;
	position: absolute;
	top: 60px;
    left: 60px;
	animation: rotate 10s 0s infinite linear;
}
.part3C{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #aa4200;
	position: absolute;
	left: 70px;
    top: 10px;
}
.part4{
	width: 220px;
	height: 220px;
	border: 2px solid #373e55;
	border-radius: 50%;
	position: absolute;
	top: 90px;
    left: 90px;
	animation: rotate 8s 0s infinite linear;
}
.part4C{
	width: 17px;
	height: 17px;
	border-radius: 50%;
	background-color: #0084ff;
	position: absolute;
    left: 40px;
    top: 10px;
    animation: rotate 2s 0s infinite linear;
}
.part4CDot{
	width: 3px;
	height: 3px;
	background-color: white;
	border-radius: 50%;
	position: absolute;
	left: -6px;
}
.part5{
	width: 160px;
	height: 160px;
	border: 2px solid #373e55;
	border-radius: 50%;
	position: absolute;
	top: 120px;
    left:120px;
	animation: rotate 10s 0s infinite linear;
}
.part5C{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #bf8639;
	position: absolute;
    left: 27px;
    top: 10px;
}
.part6{
	width: 100px;
	height: 100px;
	border: 2px solid #373e55;
	border-radius: 50%;
	position: absolute;
	top: 150px;
    left:150px;
	animation: rotate 6s 0s infinite linear;
}
.part6C{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #b6bac5;
	position: absolute;
   left: 20px;
}
.part7{
	width: 55px;
	height: 55px;
	/*box-shadow: 0px 2px 10px 0px #c90;*/
	box-shadow: 0 0 50px #c90;
	background-color: #ffcc33;
	border-radius: 50%;
	position: absolute;
	top: 172px;
    left:172px;
}
